
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desk
1em = 16px
*/



@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; // 600px / 16
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; // 900px / 16
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; // 1200px / 16
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) { @content }; // 1800px / 16
  }

}
